body {
  background-color: #eaeaea;
  font-family: Helvetica, sans-serif;
}

.wrapper {
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2);
  margin: 20px auto;
  width: 960px;
}

.logo {
  font-family: monospace;
  font-size: 60px;
  font-weight: bold;
  width: 960px;
  margin: 20px auto;
}

.logo img {
  width: 200px;
}

main {
  padding: 8px;
}

main p {
  font-size: 14px;
  margin: 0;
}

nav {
  background-color: #3d3d3d;
}

nav a {
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  font-weight: 100;
  margin: 0;
  padding: 8px 10px;
  text-decoration: none;
}

nav a:hover {
  background-color: #fafafa;
  color: #3d3d3d;
}

nav a.active {
  background-color: #ffffff;
  color: #3d3d3d;
}

footer {
  text-align: center;
}

footer p {
  font-size: 12px;
}
